VoteScreen{
    align: center middle;
}

#vote_frame{
    width: 80%;
    height: 60%;
    border: ascii white;
    align: center middle;
}

#vote_frame > #vote_info_group{
    height: 30%;
    align: center middle;
}

#vote_frame > #vote_info_group > #vote_description{
    text-align: center;
    margin: 1;
}

#vote_frame > #vote_info_group > #vote_timer{
    width: auto;
    height: 40%;
}

#vote_frame > #vote_info_group > .warn{
    color: red;
}

.button_row{
    align: center middle;
}

.alive{
    border: ascii rgba(0, 255, 0, 0.5);
    margin: 1;
}

.dead{
    border: ascii rgba(255, 0, 0, 0.5);
    margin: 1;
}