
#info_container{
    width: 100%;
    height: 80%;
}

#history_container{
    width: 70%;
    margin: 1;
}

#history_log_label{
    margin: 1;
}

#history_log{
    width: 100%;
}

#player_info_container{

}

#detail_info_container{
    width: 90%;
    margin-left: 5;
    border: ascii white;
}

#image{
    margin: 1;
    content-align-horizontal: center;
}

.detail_info_label{
    margin: 1;
}

#input_container{
    width: 100%;
    height: 20%;
    align: center middle;
}

#input_container > #comment_field{
    width: 60%;
    margin: 1;
}

#input_container > .normal{
    border: heavy white;
}

#input_container > .error{
    border: dashed red;
}

#input_container >#send_button{
    width: 10%;
    height: 3;
}